
.head{
background-color: white;
color: #3498db;
text-align: center;
margin: 1px;
}
h1{
    background-color: #3498db;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    background-color: #3498db;
    color: white;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}